.paper {
  width: 30rem;
  height: 30rem;
  
  margin:auto;
 


}
@media only screen and (max-width: 600px) {
  .paper {
    width: 90%;
    height: 80vh;
  }
  .switch {
    font-size: 20px;
  }
}
@media only screen and (min-width: 600px) {
  .paper {
    width: 90%;
    height: 80vh;
  }
  .switch {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .paper {
    width: 90%;
    height: 80vh;
  }
}

@media only screen and (min-width: 1200px) {
  .paper {
    width: 36rem;
    height: 30rem;
    overflow: scroll;
    margin:auto;
  
  
  }
  .switch {
    font-size: 10px;
  }
}
